%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %meta{'name' => "description", 'content' => "Hancock Single Sign On Server"}
    %meta{'name' => "author", 'content' => "Corey Donohoe  / Original design: Andreas Viklund - http://andreasviklund.com/"}
    %link{'rel' => 'stylesheet', 'type' => 'text/css',  'href' => '/css/andreas05.css'}
    %title Step Right Up
  %body
    #title
      %h1 Hancock: Single Sign On
    #container
      #sidebar
        %h2 Interact
        - if session_user
          %a{:class => 'menu', :href => '/sso/logout'} Logout
        - else
          %a{:class => 'menu', :href => '/sso/login'} Login
        %a{:class => 'menu', :href => 'http://github.com/atmos/hancock'} Contribute
        %a{:class => 'menu', :href => 'http://wiki.github.com/atmos/hancock'} Documentation

        %h2 Thank You
        %a{:class => 'menu', :href => 'http://engineyard.com'} Engine Yard
        %a{:class => 'menu', :href => 'http://www.sinatrarb.com'} Sinatra
        %a{:class => 'menu', :href => 'http://andreasviklund.com'} Andreas Viklund
      #main
        %p= yield
        - if session_user
          %h2= session_user

      #footer
