%fieldset
  %legend You need to log in, buddy.
  %form{:action => '/sso/login', :method => 'POST'}
    %label{:for => 'email'} 
      Email:
      %input{:type => 'text', :name => 'email'}
      %br
    %label{:for => 'password'} 
      Password:
      %input{:type => 'password', :name => 'password'}
      %br
    %input{:type => 'submit', :value => 'Login'}
    or
    %a{:href => '/sso/signup'} Signup
