- if @user.valid?
  %h3 Success!
  %p Check your email and you'll see a registration link!
  - unless %w(production staging).include?(ENV['RACK_ENV'])
    /
      %a{:href => absolute_url("/sso/register/#{@user.access_token}")} Clicky Clicky
- else
  %h3 Signup Failed
  #errors
    - @user.errors.each do |message|
      %p= message
  %p
    %a{:href => '/sso/signup'} Try Again?
